<%- include('layout/header'); -%>
    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>
    <div class="box">
        <% for(let i = 0; i < newListItem.length; i ++) { %>
        <div class="item">
            <input type="checkbox" name="checkbox" id="complete-todos">
            <p class="d-inline-block mb-0 py-2"><%= newListItem[i] %></p>
        </div>
        <% }%>
        <form class="item" action="/" method="post">
            <input class="" type="text" name="newItem" id="" placeholder="New item" autocomplete="off">
            <button class="" type="submit" name="list" value=<%= listTitle %> id="add-btn">+</button>
        </form>
    </div>
    <%- include('layout/footer'); -%>